
.wrapper {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  box-sizing: border-box;
  .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    .title-gray {
      color: #9E9E9E;
    }
  }
  
  .header {
    padding: 0 20px 0;
    display: flex;
    align-items: center;
    top: 0;
    height: 70px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  }

  .window-containers {
    padding: 30px 20px 0;
    box-sizing: border-box;
    width: calc(100% - 60px);
    max-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 40% 5% 5% 50%;
    grid-template-rows: 58% 42%;
    grid-gap: 20px;
  }

  .container-circle{
    padding: 15px 0 0 15px;
    box-sizing: border-box;
  }
  .container {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    select{
      position: absolute;
      top:15px;
      left: 15px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
      color:white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1px;
      outline:none;
      border: none;
    }
    .circle_progress{
      display: flex;
      position: absolute;
      gap: 4px;
      right: 15px;
      top:15px;
    }
    .circle{
      max-width: 100%;
      max-height: 100%;
    }
    #caption{
      position: absolute;
      top:50%;
      left: calc(50% - 35px);
    }

    &.operation-counter {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &.video {
      grid-column-start: 2;
      grid-column-end: 5;
    }

    &.safety-compliance {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    &.productivity {
      grid-column-start: 3;
      grid-column-end: 5;
    }


    &.safety-compliance, &.productivity {
      padding: 20px;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      .chart-title-container {
        margin-bottom: 10px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 23px;
      }

      .chart-content-container {
        display: flex;
        gap: 70px;
        margin-bottom: 5px;
        .dataset-title-container {

          .names-container {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 24px;
            color: #9E9E9E;
          }

          .timing-container {
            display: flex;
            align-items: center;
            gap: 10px;
            .dataset-icon {
              width: 10px;
              height: 10px;

              &.Compliance {
                background-color: #469F15;
              }
              &.Violation {
                background-color: #DB2820;
              }
            }
            .dataset-time {
              &.Compliance {
                color: #469F15;
              }
              &.Violation {
                color: #DB2820;
              }
            }
          }
        }
      }

      .chart-container {
        width: 360px;
      }

      .chart-button {
        width: 60px;
        height: 40px;
        align-self: flex-end;
        position: absolute;
      }
    }
      .output_canvas{
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        border-radius: 20px;
        object-fit: contain;
      }
  }
}




