
.wrapper {
  width: 100vw;
  max-width: 100vw;
  height: 100%;
  max-height: 100vh;
  box-sizing: border-box;

  .title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 32px;
    display: flex;
    align-items: center;
    position: absolute;
    .title-gray {
      color: #9E9E9E;
    }
  }

  .window-containers {
    padding: 30px 20px 0;
    box-sizing: border-box;
    width: calc(100% - 60px);
    max-height: calc(100vh - 30px);
    display: grid;
    grid-template-columns: 40% 5% 5% 50%;
    grid-template-rows: 58% 42%;
    grid-gap: 20px;
  }

  .container-circle {
    padding: 15px 0 0 15px;
    box-sizing: border-box;
  }

  .container {
    background-color: #FFFFFF;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    select {
      position: absolute;
      top: 15px;
      left: 15px;
      padding: 10px;
      background: rgba(0, 0, 0, 0.6);
      border-radius: 16px;
      color: white;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.1px;
      outline: none;
      border: none;
    }

    .circle_progress {
      display: flex;
      position: absolute;
      gap: 4px;
      left:45%;
      bottom: 25px;
    }

    .circle {
      max-width: 100%;
      max-height: 100%;
    }

    #caption {
      position: absolute;
      top: 50%;
      left: calc(50% - 35px);
    }

    &.operation-counter {
      grid-column-start: 1;
      grid-column-end: 2;
    }

    &.video {
      grid-column-start: 2;
      grid-column-end: 5;
      overflow: hidden;

    }

    &.safety-compliance {
      grid-column-start: 1;
      grid-column-end: 4;
    }

    &.productivity {
      grid-column-start: 4;
      grid-column-end: 5;
    }


    &.safety-compliance, &.productivity {
      padding: 20px;
      display: grid;
      grid-template-columns: 60% 40%;
      grid-template-rows: 100%;
      box-sizing: border-box;

      .left-block {
        .chart-title-container {
          margin-bottom: 30px;
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 32px;
        }

        .chart-container {
          width: auto;
        }
      }

      .right-block {
        padding-left: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;

        .dataset-title-container {

          .names-container {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 24px;
            color: #666666;
            margin-bottom: 10px;
          }

          .timing-container {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 32px;
            line-height: 24px;

            .dataset-icon {
              width: 10px;
              height: 10px;

              &.Compliance {
                background-color: #469F15;
              }

              &.Violation {
                background-color: #DB2820;
              }
            }

            .dataset-time {
              &.Compliance {
                color: #469F15;
              }

              &.Violation {
                color: #DB2820;
              }
            }
          }
        }
      }

      .chart-content-container {
        display: flex;
        gap: 70px;
        margin-bottom: 5px;

        .chart-button {
          width: 60px;
          height: 40px;
          align-self: flex-end;
          position: absolute;
        }
      }
    }
  }
}
.output_canvas {
  border-radius: 20px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  object-fit: contain;
}
.progress_ok{
  border-radius: 5px;
    background-color: #469F15;
  }

.progress_wait{
  border-radius: 5px;
  background-color: #E0E0E0;
}
