
<div class="wrapper">
  <header class="header">
    <span class="title">
      <span class="title-gray">Workplace:</span>
      &nbsp;Warsaw Industry Week</span>
  </header>
  <div class="window-containers">
    <div class="container">
      <canvas id="circle" class="circle">

      </canvas>
      <button (click)="changeCount()" style="width: 60px; height: 40px" class="changeButton">change line</button>
    </div>
    <div class="container" [ngClass]="'video'">
      <div class="container">
        <video class="input_video" style="display: none" ></video>
          <canvas class="output_canvas" width="1024px" height="720px"></canvas>
      </div>
    </div>
    <div class="container" [ngClass]="'safety-compliance'">
      <div class="chart-title-container">
        Safety compliance
      </div>
      <div class="chart-content-container">
        <div class="dataset-title-container" *ngFor="let chart of safetyChart">
          <div class="names-container">
            <div class="dataset-name">{{chart.chart}}</div>
          </div>
          <div class="timing-container">
            <div class="dataset-icon" [ngClass]="chart.chart === 'Compliance' ? 'Compliance' : 'Violation'"></div>
            <div class="dataset-time" [ngClass]="chart.chart === 'Compliance' ? 'Compliance' : 'Violation'">{{chart.title}}</div>
          </div>
        </div>
      </div>

      <div class="chart-container">
        <canvas id="canv" class="canv"></canvas>
      </div>
      <button (click)="changeActiveDataSet('safety')" class="chart-button">change line</button>
    </div>
    <div class="container" [ngClass]="'productivity'">
      <div class="chart-title-container">
        Productivity
      </div>
      <div class="chart-content-container">
        <div class="dataset-title-container" *ngFor="let chart of productivityChart">
          <div class="names-container">
            <div class="dataset-name">{{chart.chart}}</div>
          </div>
          <div class="timing-container">
            <div class="dataset-icon" [ngClass]="chart.chart === 'Productive' ? 'Compliance' : 'Violation'"></div>
            <div class="dataset-time" [ngClass]="chart.chart === 'Productive' ? 'Compliance' : 'Violation'">{{chart.title}}</div>
          </div>
        </div>
      </div>

      <div class="chart-container">
        <canvas id="prod-canv" class="canv"></canvas>
      </div>
      <button (click)="changeActiveDataSet('productivity')" class="chart-button">change line</button>
    </div>
  </div>
</div>
