
.wrapper {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  box-sizing: border-box;
  
  .window-containers {
    box-sizing: border-box;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 5px;
  }

  .container {
    border: 1px solid black;
    background-color: #CCCCCC;
    position: relative;
    .output_canvas{
      width: 100%;
      height: 90%;
    }
    .changeButton{
      position: absolute;
      bottom:0;
    }
  }
}




